<div class="p5">
  <div class="container">
    <div class="box-form">
      <h1>Login</h1>
      <h4>Acesse sua conta</h4>
      <hr class="mt-5 mb-5">

      <form class="form-filtro form-small" novalidate (ngSubmit)="login()" [formGroup]="loginForm">

        <div class="alert alert-danger" *ngIf="errors.length > 0">
          <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
          <ul>
            <li *ngFor="let error of errors">{{ error }}</li>
          </ul>
        </div>

        <div class="form-group">
          <label class="control-label pl-0">E-mail</label>
          <div class="pl-0">
            <input class="form-control" id="email" type="text" placeholder="E-mail (requerido)" formControlName="email" [ngClass]="{'is-invalid': displayMessage.email }" />
            <span class="text-danger" *ngIf="displayMessage.email">
              <p [innerHTML]="displayMessage.email"></p>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label pl-0">Senha</label>
          <div class="pl-0">
            <input class="form-control" id="senha" type="password" placeholder="Senha (requerido)" formControlName="senha" [ngClass]="{'is-invalid': displayMessage.senha }" />
            <span class="text-danger" *ngIf="displayMessage.senha">
              <p [innerHTML]="displayMessage.senha"></p>
            </span>
          </div>
        </div>

        <div class="form-group">
          <span><button class="btn btn-success" id="Login" [disabled]="!loginForm.valid" type="submit">Login</button></span>
        </div>
      </form>
    </div>
  </div>
</div>
