<div class="container main-container">

  <h1>Lista de Veículos</h1>
  <hr>

  <p>
      <a class="btn btn-info" [routerLink]="['/veiculos/cadastro']">Novo Veículo</a>
  </p>

  <table class="table table-hover">
      <thead class="thead-dark">
          <tr>
              <th>

              </th>
              <th>
                  Nome
              </th>
              <th>
                  Valor
              </th>
              <th>
                  Marca
              </th>
              <th>
                  Modelo
              </th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let veiculo of veiculos">
              <td>
                <img src="{{ imagens }}{{ veiculo.nomeDaImagem }}" style="width: 70px; height: 100px">
              </td>
              <td>
                  {{ veiculo.nome }}
              </td>
              <td>
                  {{ veiculo.valor | currency:'BRL':'symbol':'1.2-2' }}
              </td>
              <td>
                  {{ veiculo.marca.nome }}
              </td>
              <td>
                  {{ veiculo.modelo.nome }}
              </td>
              <td class="text-right">
                  <a class="btn btn-info" [routerLink]="['/veiculos/editar',veiculo.id]">
                      <span class="fa fa-pencil-alt"></span>
                  </a>&nbsp;
                  <a class="btn btn-danger" [routerLink]="['/veiculos/excluir',veiculo.id]">
                      <span class="fa fa-trash"></span>
                  </a>
              </td>
          </tr>
      </tbody>
  </table>
</div>
