<div class="container main-container">
  <div class="row align-items-center">
    <div class="col">
      <h1 class="m-0">Lista de Veículos</h1>
    </div>
    <div class="col text-right">
      <a class="btn btn-success" [routerLink]="['/veiculos/cadastro']">Novo Veículo</a>
    </div>
  </div>

  <hr class="mt-5 mb-5">


  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">
          Foto
        </th>
        <th scope="col">
          Descrição
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let veiculo of veiculos">
        <td>
          <img class="thumb-lista-veiculos" src="{{ imagens }}{{ veiculo.nomeDaImagem }}">
        </td>
        <td>
          <p class="m-0"><strong>Nome:</strong> {{ veiculo.nome }}</p>
          <p class="m-0"><strong>Valor:</strong> {{ veiculo.valor | currency:'BRL':'symbol':'1.2-2' }}</p>
          <p class="m-0"><strong>Marca:</strong> {{ veiculo.marca.nome }}</p>
          <p class="m-0"><strong>Modelo:</strong> {{ veiculo.modelo.nome }}</p>
        </td>
        <td class="text-right">
          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-light" id="dropdownAcoes" ngbDropdownToggle>Opções</button>
            <div ngbDropdownMenu aria-labelledby="dropdownAcoes">
              <a href="javascript:void(0)" ngbDropdownItem [routerLink]="['/veiculos/editar',veiculo.id]"> Editar </a>
              <a href="javascript:void(0)" ngbDropdownItem [routerLink]="['/veiculos/excluir',veiculo.id]"> Excluir </a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
